<div style="padding-bottom: 2%;" class="container">
    <h1>What is Sonder?</h1>
    <p>
        Ever get tired of listening to the same songs on YouTube over and over again? Well, Sonder is your all-in-one
        music recommendation system.
        Experience the power of machine learning as it shows you songs that will amaze you. Sonder learns your music
        tastes and compares it with other users to create a
        better music experience.
        <strong><br>We want you to just vibe!</strong>
    </p>
</div>