<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
  <title>Vibing</title>

</head>
<body>
  <nav>
    <div class="logo">
      <h4><a style="text-decoration:none; color:white;" href="{{ url_for('home')}}">Vibing</a></h4>
    </div>
    <ul class="nav-links">
          <li><a href="#">Surprise Me!</a></li>
          <li><a href="{{ url_for('popular_recommendation')}}">Popular</a></li>
          <li><a href="#">Create Playlist</a></li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
<script src="{{ url_for('static', filename='nav.js') }}"></script>
</body>

</html>
